@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

$default-font: 'Roboto', Arial, Helvetica, sans-serif;
$header-font: 'Lexend', Arial, Helvetica, sans-serif;

$component-color: #F9F9F9;
$gray: #898989;
$yellow: #F0E25D;
$blue: #5B37DB;

@mixin box {
    background-color: $component-color;
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@mixin popup {
    width: 12rem;
    position: absolute;
    background-color: $component-color;
    border-radius: 0.75rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 1rem;
    box-sizing: border-box;
}

@mixin list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid black;
    padding: 0.75rem 0;
    margin-bottom: 0.25rem;

    div:first-of-type {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }

    div:last-of-type {
        display: flex;
        align-items: baseline;
    }

    &:last-child {
        border-bottom: none;
    }

    h3, p {
        display: inline;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    em {
        @include label;
        margin: 0 0.5rem 0.25rem 0;
    }

    p {
        font-size: 1.2rem;
        margin-right: 1rem;
        padding-left: 1.65rem;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1.2rem;	
        opacity: 0.5;
    }

    a {
        text-align: center;
    }
}

@mixin tag {
    font-family: $default-font;
    font-size: 1.2rem;
    color: white;
    background-color: $blue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
}

@mixin label {
    font-family: $default-font;
    font-size: 0.85rem;
    color: white;
    background-color: $blue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
}

@mixin button {
    background-color: $yellow;
    padding: 0.4rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
}

@mixin slider {
    .switch {
        display: inline-block;
        height: 1.8rem;
        position: relative;
        width: 3.25rem;
    }
      
    .switch input {
        display: none;
    }
      
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
      
    .slider:before {
        background-color: #fff;
        bottom: 0.25rem;
        content: "";
        height: 1.35rem;
        left: 0.25rem;
        position: absolute;
        transition: .4s;
        width: 1.35rem;
    }
      
    input:checked + .slider {
        background-color: $yellow;
    }
      
    input:checked + .slider:before {
        transform: translateX(1.45rem);
    }
     
    .slider.round {
        border-radius: 1.35rem;
    }
      
    .slider.round:before {
        border-radius: 50%;
    }
}