@use 'constraints';

header {
    width: 100vw;
    height: 7.5rem;
    display: flex;
    padding: 2rem 2rem 1rem 2rem;
    box-sizing: border-box;
    justify-content: space-between;

    #menu {
        background-image: url('../img/default.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 4rem;
        padding-left: 5rem;
        margin-left: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    .hidden {
        display: none;
    }

    p {
        font-family: constraints.$header-font;
        font-size: 2rem;

        &:first-child {
            margin-bottom: 0.25rem;
        }
    }

    > a {
        background-image: url('../img/svg-wrench.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 3rem;	
        height: 4.25rem;
        width: 4.25rem;
    }

    ul {
        background-color: constraints.$gray;
        position: relative;
        z-index: 1;
        width: 16rem;
        margin: 0.5rem 0 0 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 1rem;

        li {
            width: 100%;
            font-size: 1.5rem;
            font-family: constraints.$default-font;
            border-bottom: 0.0625rem solid white;
            text-align: center;

            &:last-child {
                border-bottom: none;
            }

            a {
                display: block;
                width: 100%;
                padding: 0.75rem 0;
                text-decoration: none;
                color: white;
            }
        }
    }
}