@use 'constraints';

header {
    width: 100vw;
    height: 8.5rem;
    display: flex;
    padding: 3rem 3rem 1.5rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    > div {
        background-image: url('../img/default.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 4rem;
        padding-left: 5rem;
        margin-left: 1.5rem;
    }

    p {
        font-family: constraints.$header-font;
        font-size: 2rem;

        &:first-child {
            margin-bottom: 0.25rem;
        }
    }

    a {
        background-image: url('../img/svg-wrench.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 3rem;	
        height: 4.25rem;
        width: 4.25rem;
    }
}