@use 'constraints';

main {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0rem 3rem 3rem 3rem;
    box-sizing: border-box;
    height: 100%;

    > div {
        width: calc(78vw - 9.75rem); // minus padding right, padding and half of gap
        background-color: constraints.$component-color;
        border-radius: 1.5rem;
        padding: 3rem;
        font-family: constraints.$default-font;
    }

    .home {
        > div {
            display: flex;
            gap: 1.5rem;
            margin-bottom: 1.5rem;
        }

        button {
            height: 13rem;
            width: 28rem;
            border: none;
            background-color: constraints.$yellow;
            background-image: url('../img/svg-flag.svg');
            background-position: 3rem center;
            background-repeat: no-repeat;
            background-size: 5rem;
            font-family: constraints.$header-font;
            font-size: 3rem;
            font-weight: bold;
            padding-left: 11rem;
            border-radius: 1.5rem;
            text-align: left;
        }

        article {
            h2 {
                font-size: 1.5rem;
                font-family: constraints.$header-font;
            }

            > div {
                background-color: constraints.$component-color;
            }
        }
    }
}