@use 'header';
@use 'nav';
@use 'main';
@use 'subscription-lock';
@use 'constraints';

[v-cloak] {
    display: none;
}

html {
    height: 100%;
}

body {
    background-color: #E7E7E7;
    height: 100%;
}

#app {
    height: calc(100% - 7.5rem); // minus header height
}

.tag {
    @include constraints.tag;
}

.red {
    background-color: #ec1f1f;
}

.orange {
    background-color: orange;
}

.lightgreen {
    background-color: lightgreen;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: #5B37DB;
}

.legendary {
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

.locked {
    filter: blur(0.25rem);
    pointer-events: none;
}
