@use 'constraints';

.lock {
    /* background**/
    background-color: constraints.$gray;
    background-image: url(../img/svg-block-lock.svg);
    background-position: 2.5rem center;
    background-repeat: no-repeat;
    background-size: 7.5rem;

    /*position*/
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;

    /*size*/
    border-radius: 1.250rem;
    width: calc(50% - 3.5rem);
    height: 15rem;
    padding: 2.50rem;

    /*color/text*/
    filter: invert(100%); /* lock image inverted to match wireframes*/
    text-align: center;  
    font-family: constraints.$default-font;
    
    h2,a {
        padding: 0.750rem;
        padding-bottom: 1rem;
        margin: 0.750rem;
        margin-left: 5rem;

        border-radius: 0.5rem;

        font-size: 2rem;    
    }

    a {
        filter: invert(100%); /* inverted back */
        background-color: white;
        color: constraints.$gray;
        text-decoration: none;
    }
}

.hidden {
    display: none;
}
