@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
header {
  width: 100vw;
  height: 7.5rem;
  display: flex;
  padding: 2rem 2rem 1rem 2rem;
  box-sizing: border-box;
  justify-content: space-between;
}
header #menu {
  display: flex;
  justify-content: space-between;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-left: 1.5rem;
}
header #menu:hover {
  cursor: pointer;
}
header img {
  border: 0.1rem solid black;
  max-width: 4rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
header .name-and-tag {
  cursor: auto;
}
header .non-poc-menu {
  color: black;
}
header .poc-menu:hover {
  background-color: lightgrey;
  border-radius: 1rem;
}
header .hidden {
  display: none;
}
header p {
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
header p:first-child {
  margin-bottom: 0.25rem;
}
header > a {
  background-image: url("../img/svg-wrench.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  height: 4.25rem;
  width: 4.25rem;
}
header ul {
  background-color: #898989;
  position: relative;
  z-index: 1;
  width: 16rem;
  margin: 0.5rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}
header ul li {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border-bottom: 0.0625rem solid white;
  text-align: center;
}
header ul li:last-child {
  border-bottom: none;
}
header ul li a {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  text-decoration: none;
  color: white;
}

nav {
  width: calc(22vw - 3.75rem);
  height: 100%;
  background-color: #F9F9F9;
  border-radius: 1.5rem;
}
nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
nav ul a {
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 3rem;
  display: inline-block;
  height: 1.5rem;
  width: 10rem;
  padding-top: 3.5rem;
  opacity: 0.5;
}
nav ul .active {
  opacity: 1;
}
nav ul .home-nav {
  background-image: url("../img/svg-home.svg");
}
nav ul .home-nav:hover {
  opacity: 0.7;
}
nav ul .map-nav {
  background-image: url("../img/svg-map-pinpoint.svg");
}
nav ul .map-nav:hover {
  opacity: 0.7;
}
nav ul .statistics-nav {
  background-image: url("../img/svg-statistics.svg");
}
nav ul .statistics-nav:hover {
  opacity: 0.7;
}
nav ul .doorlock-nav {
  background-image: url("../img/svg-door.svg");
}
nav ul .doorlock-nav:hover {
  opacity: 0.7;
}

.home > div {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.home button {
  height: 12rem;
  width: 26rem;
  border: none;
  background-color: #F0E25D;
  background-image: url("../img/svg-flag.svg");
  background-position: 3rem center;
  background-repeat: no-repeat;
  background-size: 5rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 10rem;
  border-radius: 1.5rem;
  text-align: left;
}
.home button:hover {
  cursor: pointer;
}
.home div article {
  height: 12rem;
  width: calc(100% - 26rem - 1.5rem);
}
.home div article h2 {
  font-size: 1.5rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
}
.home div article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 3rem);
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.home div article > div .switch {
  display: inline-block;
  height: 1.8rem;
  position: relative;
  width: 3.25rem;
}
.home div article > div .switch input {
  display: none;
}
.home div article > div .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.home div article > div .slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  height: 1.35rem;
  left: 0.25rem;
  position: absolute;
  transition: 0.4s;
  width: 1.35rem;
}
.home div article > div input:checked + .slider {
  background-color: #F0E25D;
}
.home div article > div input:checked + .slider:before {
  transform: translateX(1.45rem);
}
.home div article > div .slider.round {
  border-radius: 1.35rem;
}
.home div article > div .slider.round:before {
  border-radius: 50%;
}
.home div article > div .notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home div article > div label, .home div article > div p {
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
}
.home div article > div .container {
  display: inline-block;
}
.home div article > div input[type=checkbox] {
  accent-color: #F0E25D;
}
.home div article > div input[type=range] {
  width: 100%;
  accent-color: #F0E25D;
}
.home div article > div select {
  width: fit-content;
  background-color: #F0E25D;
  border: none;
  height: 1.5rem;
  border-radius: 0.25rem;
}
.home div article > div select:focus {
  outline: none;
}
.home div article > div .gestures {
  display: flex;
  justify-content: space-between;
}
.home div article > div .range div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.home div article > div .range div p {
  font-size: 1rem;
}
.home > article {
  height: calc(100% - 13.5rem);
}
.home > article ul {
  height: calc(100% - 3rem);
  overflow: scroll;
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.home > article ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid black;
  padding: 0.75rem 0;
  margin-bottom: 0.25rem;
}
.home > article ul li div:first-of-type {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.home > article ul li div:last-of-type {
  display: flex;
  align-items: baseline;
}
.home > article ul li:last-child {
  border-bottom: none;
}
.home > article ul li h3, .home > article ul li p {
  display: inline;
}
.home > article ul li h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.home > article ul li em {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 0 0.5rem 0.25rem 0;
}
.home > article ul li p {
  font-size: 1.2rem;
  margin-right: 1rem;
  padding-left: 1.65rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  opacity: 0.5;
}
.home > article ul li a {
  text-align: center;
}
.home > article ul li p:first-of-type {
  background-image: url("../img/svg-cronometer.svg");
}
.home > article ul li p:last-of-type {
  background-image: url("../img/svg-compass.svg");
}
.home > article ul li a {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
}

.history article {
  height: calc(50% - 0.75rem);
}
.history article:first-of-type {
  margin-bottom: 1.5rem;
}
.history article h2 {
  display: inline-block;
}
.history article input {
  margin-left: auto;
  margin-right: 0;
}
.history article ul {
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: scroll;
  height: calc(100% - 3rem);
}
.history article ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid black;
  padding: 0.75rem 0;
  margin-bottom: 0.25rem;
}
.history article ul li div:first-of-type {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.history article ul li div:last-of-type {
  display: flex;
  align-items: baseline;
}
.history article ul li:last-child {
  border-bottom: none;
}
.history article ul li h3, .history article ul li p {
  display: inline;
}
.history article ul li h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.history article ul li em {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 0 0.5rem 0.25rem 0;
}
.history article ul li p {
  font-size: 1.2rem;
  margin-right: 1rem;
  padding-left: 1.65rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  opacity: 0.5;
}
.history article ul li a {
  text-align: center;
}

.maps h1 {
  font-size: 2rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-bottom: 1rem;
}
.maps label {
  font-size: 1.5rem;
}
.maps #container {
  width: 100%;
  height: calc(100% - 3rem);
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0;
}
.maps #container .map {
  height: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
}
.maps #container .marker {
  background-image: url("../img/pin.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
}
.maps #container .flag {
  background-image: url("../img/svg-flag.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
.maps #container .flag:hover {
  cursor: pointer;
}
.maps #container .popup {
  width: 12rem;
  position: absolute;
  background-color: #F9F9F9;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 1rem;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
}
.maps #container .popup p {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.maps #container .popup ul {
  margin-bottom: 1.5rem;
}
.maps #container .popup ul li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 0 0.2rem 0.2rem 0;
}
.maps #container .popup a {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
}
.maps #container .error {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  padding: 1rem;
}

.flag div.recording-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  border: 0.1rem solid black;
}
.flag .container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem 2rem;
  grid-template-areas: "type-incident additional-information" "bystanders aggressors";
}
.flag .container .type-incident {
  grid-area: type-incident;
}
.flag .container .additional-information {
  grid-area: additional-information;
}
.flag .container .bystanders {
  grid-area: bystanders;
}
.flag .container .aggressors {
  grid-area: aggressors;
}
.flag .container section {
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.flag button {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: solid white 0.125rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.flag button:hover {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  border: solid black 0.125rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "notifications ." "subscription subscription";
}
.settings h2 {
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}
.settings .subscription section, .settings .notifications > div {
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: calc(100% - 4rem);
}
.settings .subscription section h3, .settings .notifications > div h3 {
  font-size: 1.15rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}
.settings .notifications {
  grid-area: notifications;
}
.settings .notifications ul {
  margin-top: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.settings .notifications ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid black;
  padding: 0.75rem 0;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  font-size: 1.25rem;
}
.settings .notifications ul li div:first-of-type {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.settings .notifications ul li div:last-of-type {
  display: flex;
  align-items: baseline;
}
.settings .notifications ul li:last-child {
  border-bottom: none;
}
.settings .notifications ul li h3, .settings .notifications ul li p {
  display: inline;
}
.settings .notifications ul li h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.settings .notifications ul li em {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 0 0.5rem 0.25rem 0;
}
.settings .notifications ul li p {
  font-size: 1.2rem;
  margin-right: 1rem;
  padding-left: 1.65rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  opacity: 0.5;
}
.settings .notifications ul li a {
  text-align: center;
}
.settings .notifications ul li .switch {
  display: inline-block;
  height: 1.8rem;
  position: relative;
  width: 3.25rem;
}
.settings .notifications ul li .switch input {
  display: none;
}
.settings .notifications ul li .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.settings .notifications ul li .slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  height: 1.35rem;
  left: 0.25rem;
  position: absolute;
  transition: 0.4s;
  width: 1.35rem;
}
.settings .notifications ul li input:checked + .slider {
  background-color: #F0E25D;
}
.settings .notifications ul li input:checked + .slider:before {
  transform: translateX(1.45rem);
}
.settings .notifications ul li .slider.round {
  border-radius: 1.35rem;
}
.settings .notifications ul li .slider.round:before {
  border-radius: 50%;
}
.settings .notifications ul li .question {
  background-image: url("../img/svg-question.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: right;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  padding-right: 0.5rem;
}
.settings .notifications ul li .question:hover {
  cursor: pointer;
}
.settings .subscription {
  grid-area: subscription;
}
.settings .subscription > div {
  display: flex;
  gap: 2rem;
  height: 100%;
}
.settings .subscription > div section {
  width: 50%;
  height: calc(100% - 3rem);
}
.settings .subscription > div section > div {
  display: flex;
  justify-content: space-between;
}
.settings .subscription > div section > div h3 {
  margin-bottom: 0.5rem;
}
.settings .subscription > div section > div > p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  height: fit-content;
}
.settings .subscription > div section > div div p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.settings .subscription > div section ul li {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: left center;
  padding: 0.5rem 0 0.5rem 2rem;
  font-size: 1rem;
}
.settings .subscription > div section ul .cross {
  background-image: url("../img/svg-cross.svg");
}
.settings .subscription > div section ul .check {
  background-image: url("../img/svg-checkmark.svg");
}
.settings button {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.statistics ul {
  margin-bottom: 1rem;
}
.statistics ul .statistics-nav {
  cursor: pointer;
}
.statistics ul li {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  width: fit-content;
  display: inline-block;
  margin-right: 1rem;
}
.statistics ul .active {
  background-color: black;
  color: white;
}
.statistics section {
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: calc(100% - 3rem);
}
.statistics section div {
  height: calc(100% - 3rem);
  text-align: center;
}
.statistics section div:first-of-type {
  height: calc(100% - 4.25rem);
}

.route h1 {
  font-size: 2rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-bottom: 1rem;
}
.route h1 + a {
  background-color: #F0E25D;
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}
.route #container {
  width: 100%;
  height: calc(100% - 3rem);
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0;
}
.route #container .map {
  height: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
}
.route #container .marker {
  background-image: url("../img/pin.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
}
.route #container .error {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
  box-sizing: border-box;
  height: 100%;
}
main > div {
  width: calc(78vw - 2rem);
  background-color: #F9F9F9;
  border-radius: 1.5rem;
  padding: 3rem;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
main h2 {
  font-size: 1.5rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
}

.lock {
  background-color: #898989;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-image: url(../img/svg-block-lock.svg);
  background-position: 3rem center;
  background-repeat: no-repeat;
  filter: invert(100%); /* lock image inverted to match wireframes*/
  background-size: 10rem;
  border-radius: 1.25rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: calc(50% - 3.75rem);
  height: 20rem;
  padding: 2.5rem;
  text-align: center;
}
.lock h2 {
  padding: 2.5rem;
  font-size: 2rem;
}
.lock a {
  filter: invert(100%); /* inverted back */
  background-color: white;
  color: #898989;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0.75rem 0.75rem auto;
  text-align: center;
  font-size: 1.75rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.hidden {
  display: none;
}

[v-cloak] {
  display: none;
}

html {
  height: 100%;
}

body {
  background-color: #E7E7E7;
  height: 100%;
}

#app {
  height: calc(100% - 7.5rem);
}

.tag {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #5B37DB;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
}

.locked {
  filter: blur(0.25rem);
  pointer-events: none;
}

/*# sourceMappingURL=screen.css.map */
