/*header*/
header{
    padding:2em;
}
#profile{
    float:left;
}
#setting{
    float:right;
}

/*aside*/
aside{
    margin-left:2em;
    background-color: lightgray;
    border-radius:2em;
    width:10em;
    padding:1em;
    text-align:center;
}
figure{
    padding-top:3em;
    padding-bottom:3em;
}

a:link{
    color:black;
}
a:hover{
    color:red;
}

/*section*/
section{
    float:right;
    margin-right:2em;
    width: 75%;
    height: 40em;
    background-color: black;
}
