@use '../constraints';

.flag {


  div.recording-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
    border: 0.1rem solid black;
  }

  .container {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem 2rem;
    grid-template-areas:
    "type-incident additional-information"
    "bystanders aggressors";

    section {
      @include constraints.box;
    }

    .type-incident {
      grid-area: type-incident;
    }

    .additional-information {
      grid-area: additional-information;
    }

    .bystanders {
      grid-area: bystanders;
    }

    .aggressors {
      grid-area: aggressors;
    }
  }
}


