@use '../constraints';

.history {
    
    article {
        height: calc(50% - 0.75rem); // minus half of bottom margin
        
        &:first-of-type {
            margin-bottom: 1.5rem;
        }

        > div {
            display: flex;
            justify-content: space-between;
        }

        label {
            background-image: url('../img/svg-filter.svg');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 1.5rem;
            vertical-align: middle;
            padding-left: 0.5rem;
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;
        }

        .confirmed {
            background-color: green;
        }

        .declined {
            background-color: red;
        }

        .active {
            background-color: orange;
        }

        select {
            width: fit-content;
            background-color: constraints.$yellow;
            border: none;
            height: 1.5rem;
            border-radius: 0.25rem;

            &:focus {
                outline: none;
            }
        }

        input {
            margin-left: auto;
            margin-right: 0;
        }

        ul {
            @include constraints.box;
            overflow: scroll;
            height: calc(100% - 3rem); // minus font height and margin bottom 

            li {
                @include constraints.list-item;
            }
        }
    }
}