@use '../constraints';

.home {
    > div {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    button {
        height: 12rem;
        width: 26rem;
        border: none;
        background-color: constraints.$yellow;
        background-image: url('../img/svg-flag.svg');
        background-position: 3rem center;
        background-repeat: no-repeat;
        background-size: 5rem;
        font-family: constraints.$header-font;
        font-size: 3rem;
        font-weight: bold;
        padding-left: 10rem;
        border-radius: 1.5rem;
        text-align: left;

        &:hover {
            cursor: pointer;
        }
    }

    div article {
        height: 12rem;
        width: calc(100% - 26rem - 1.5rem);

        h2 {
            font-size: 1.5rem;
            font-family: constraints.$header-font;
            margin-bottom: 1.5rem;
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 3rem); // minus font height and margin bottom
            @include constraints.box;
            @include constraints.slider;

            label, p {
                font-size: 1.4rem;
                display: inline-block;
                vertical-align: middle;
            }

            .container { 
                display: inline-block;
                margin-right: 1rem;
            }

            input[type="checkbox"] {
                accent-color: constraints.$yellow;
            }

            input[type="range"] {
                width: 100%;
                accent-color: constraints.$yellow;
            }

            select {
                width: fit-content;
                background-color: constraints.$yellow;
                border: none;
                height: 1.5rem;
                border-radius: 0.25rem;

                &:focus {
                    outline: none;
                }
            }

            .gestures {
                display: flex;
                justify-content: space-between;
            }

            .range div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    > article {
        height: calc(100% - 13.5rem); // minus height of buttons and margin bottom

        ul {
            height: calc(100% - 3rem); // minus font height and margin bottom    
            overflow: scroll;
            @include constraints.box;

            li {
                @include constraints.list-item;

                p {
                    &:first-of-type {
                        background-image: url('../img/svg-cronometer.svg');
                    }

                    &:last-of-type {
                        background-image: url('../img/svg-compass.svg');
                    }
                }

                a {
                    @include constraints.button;
                }
            }
        }
    }
}