@use '../constraints';

.maps {

    h1 {
        font-size: 2rem;
        font-family: constraints.$header-font;
        display: inline-block;
        margin-bottom: 1rem;
    }

    label {
        font-size: 1.5rem;
    }

    #container {
        width: 100%;
        height: calc(100% - 3rem);
        @include constraints.box;
        padding: 0;

        .map {
            height: 100%;
            border-radius: 0.75rem;
            overflow: hidden;
        }

        .marker {
            background-image: url('../img/pin.svg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 2rem;
            height: 2rem;
            width: 2rem;
        }

        .flag {
            background-image: url('../img/svg-flag.svg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }

        .popup {
            @include constraints.popup;
            padding-bottom: 1.5rem;

            p {
                font-size: 1.2rem;
                margin-bottom: 0.2rem;
            }

            ul {
                li {
                    @include constraints.label;
                    margin: 0 0.2rem 0.2rem 0;
                }
                
                margin-bottom: 1.5rem;
            }

            a {
                @include constraints.button;
            }
        }

        .error {
            font-size: 1.5rem;
            font-weight: bold;
            color: red;
            padding: 1rem;
        }
    }
}