@use '../constraints';

.statistics {

    ul {
        .statistics-nav {
            cursor: pointer;
        }

        li {
            @include constraints.button;
            font-size: 1rem;
            width: fit-content;
            display: inline-block;
            margin-right: 1rem;
        }

        .active {
            background-color: black;
            color: white;
        }

        margin-bottom: 1rem;
    }

    .loading-stats {
        background-image: url(../loading-icons/LoadingBars.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        width: 100%;
    }
    .loading-bars, .loading-bars2 {
        background-image: url(../loading-icons/LoadingBars.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        width: 100%;
    }
    .loading-pie, .loading-pie2 {
        background-image: url(../loading-icons/LoadingPie.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        width: 100%;
    }
    section {

        @include constraints.box;
        padding: 1rem;
        height: calc(100% - 3rem); // minus font height and margin bottom

        div {
            height: calc(100% - 3rem); // minus font height and margin bottom
            text-align: center;

            &:first-of-type {
                height: calc(100% - 4.25rem);
            }
        }
    }
}