<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flag</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/screen.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/pages/flag.js" type="module"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/api.js"></script>
</head>
<body>
<div id="app">
    <header-component></header-component>
    <main>
        <nav-component></nav-component>
        <div>
            <h1>Auto recorded by Salus Security AI &#169;</h1>
            <section>
                <h2>{{incidentType}}</h2>
                <div>
                    <em v-for="label in incidentLabels">{{label}}</em>
                </div>
            </section>

            <section>
                <h2>Bystanders</h2>
                <ul>
                    <li v-for="bystander in incidentBystanders"><span>{{bystander}}</span></li>
                </ul>
            </section>

            <section>
                <h2>Aggressors</h2>
                <ul>
                    <li v-for="aggressor in incidentAggressors"><span>{{aggressor}}</span></li>
                </ul>
            </section>
        </div>
    </main>
</div>
</body>
</html>
