<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/screen.css">
    <script defer src="assets/js/pages/endpoints/endpoint-functions.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/pages/history.js" type="module"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/api.js"></script>
</head>
<body>
<div id="app">
    <header-component></header-component>
    <main>
        <nav-component></nav-component>
        <div class="history">
            <article v-show="flaggedIncidentsReady">
                <h2>Incidents you flagged</h2>
                <ul>
                    <li v-for="incident in flaggedIncidents">
                        <div>
                            <h3>{{incident.type}}</h3>
                            <em class="label" v-for="label in incident.labels">{{label}}</em>
                        </div>
                        <div>
                            <p>{{new Date(incident.datetime).toLocaleDateString()}}</p>
                            <p>{{new Date(incident.datetime).toLocaleTimeString()}} </p>
                        </div>
                    </li>
                </ul>
            </article>

            <article v-show="helpedIncidentsReady">
                <h2>Incidents you helped</h2>
                <ul>
                    <li v-for="incident in helpedIncidents">
                        <h4>You've helped: {{incident.reporterId}} </h4>
                        <div>
                            <h3>{{incident.type}}</h3>
                            <em class="label" v-for="label in incident.labels">{{label}}</em>
                        </div>
                        <div>
                            <p>{{new Date(incident.datetime).toLocaleDateString()}}</p>
                            <p>{{new Date(incident.datetime).toLocaleTimeString()}} </p>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
    </main>
</div>
</body>
</html>
