<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/screen.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/main.js" type="module"></script>
    <script defer src="assets/js/api.js"></script>
    <script src="assets/js/pages/history.js" type="module"></script>
</head>
<body>
<div id="app">
    <header-component></header-component>
    <main>
        <nav-component></nav-component>
        <subscription-component></subscription-component>
        <div class="history">
            <article v-show="flaggedIncidentsReady">
                <div>
                    <h2>Incidents you flagged </h2>
                    <div>
                        <label></label>
                        <select @change="filterByTypeFlagged($event)">
                            <option value="None"> None </option>
                            <option v-for="incidentType in incidentTypes" :value="incidentType">{{incidentType}}</option>
                        </select>
                    </div>
                </div>
                <ul>
                    <li v-if="flaggedIncidents.length === 0"><h3> No incidents flagged yet with this type </h3></li>
                    <li v-else v-for="incident in flaggedIncidents">
                        <div>
                            <h3>{{incident.type}}</h3>
                            <em class="label" v-for="label in incident.labels">{{label}}</em>
                            <em v-if="incident.state === 'CONFIRMED'" class="confirmed">Confirmed</em>
                            <em v-else-if="incident.state === 'DECLINED'" class="declined">Declined</em>
                            <em v-else class="active">Active</em>
                        </div>
                        <div>
                            <p>{{new Date(incident.datetime).toLocaleDateString()}}</p>
                            <p>{{new Date(incident.datetime).toLocaleTimeString()}} </p>
                        </div>
                    </li>
                </ul>
            </article>

            <article v-show="helpedIncidentsReady">
                <div>
                    <h2>Incidents you helped</h2>
                    <div>
                        <label></label>
                        <select @change="filterByTypeHelped($event)">
                            <option value="None"> None </option>
                            <option v-for="incidentType in incidentTypes" :value="incidentType">{{incidentType}}</option>
                        </select>
                    </div>
                </div>
                <ul>
                    <li v-if="helpedIncidents.length === 0"> <h3> No people helped yet with this type </h3> </li>
                    <li v-else v-for="incident in helpedIncidents">
                        <div>
                            <h3>{{incident.type}}</h3>
                            <em class="label" v-for="label in incident.labels">{{label}}</em>
                            <em v-if="incident.state === 'CONFIRMED'" class="confirmed">Confirmed</em>
                            <em v-else-if="incident.state === 'DECLINED'" class="declined">Desclined</em>
                            <em v-else class="active">Active</em>
                        </div>
                        <div>
                            <p>{{new Date(incident.datetime).toLocaleDateString()}}</p>
                            <p>{{new Date(incident.datetime).toLocaleTimeString()}} </p>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
    </main>
</div>
</body>
</html>
