<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/screen.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/main.js"></script>
    <script defer src="assets/js/api.js"></script>
    <script src="assets/js/pages/index.js" type="module"></script>
    <link rel="manifest" href="manifest.json">
</head>
<body>
<div id="app">
    <header-component></header-component>
    <main>
        <nav-component></nav-component>
        <div class="home">
            <div>
                <button @click="checkPermissionForCreatingFlag()">Flag<br>Incident</button>
                <article>
                    <h2>Incident settings</h2>
                    <div>
                        <div>
                            <div class="container">
                                <label class="switch" for="checkbox1">
                                  <input type="checkbox" id="checkbox1" checked/>
                                  <span class="slider round"></span>
                                </label>
                            </div>                            
                            <p>Notify people in range</p>
                        </div>
                        <div class="range">
                            <datalist id="list">
                                <option value="0" label="10m"></option>
                                <option value="100" label="1000m"></option>
                            </datalist>
                            <input id="range" name="range" type="range" list="list">
                            <div>
                                <p>0m</p><p>1000m</p>
                            </div>
                        </div>
                        <div class="gestures">
                            <label for="gestures">Flag Incident</label>
                            <select id="gestures">
                                <option value="flick wrist"> Flick Wrist </option>
                                <option value="shake wrist"> Shake Wrist </option>
                                <option value="scream activation"> Scream activation </option>
                                <option value="double tap"> Double Tap </option>
                            </select>
                        </div>
                    </div>
                </article>
            </div>
            <p v-if="showError" class="error">Share your location to view the map</p>
            <article v-show="incidentsReady">
                <h2>Incidents</h2>
                <ul>
                    <li v-for="incident in allIncidents">
                        <div>
                            <h3>{{incident.type}}</h3>
                            <em class="label" v-for="label in incident.labels">{{label}}</em>
                        </div>
                        <div>
                            <p>{{calculateDates(incident)["hours"]}}h {{calculateDates(incident)["minutes"]}}m {{calculateDates(incident)["seconds"]}}s ago</p>
                            <p> {{calculateDistance(incident)}} m away</p>
                            <a @click="storeIncident(incident)" href="./route.html">View Route</a>
                        </div>
                    </li>
                </ul>
            </article>
        </div>
    </main>
</div>
</body>
</html>
