<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/screen.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/main.js"></script>
    <script defer src="assets/js/api.js"></script>
    <script src="assets/js/pages/settings.js" type="module"></script>
</head>
<body>
<div id="app">
    <header-component></header-component>
    <main>
        <nav-component></nav-component>
        <div v-show="subscriptionCheckReady" class="settings">
            <section class="notifications">
                <h2>Settings</h2>
                <div>
                    <h3>Notifications</h3>
                    <ul>
                        <li>Flag notifications <input type="checkbox" checked></li>
                        <li>"In Your Area" notification <input type="checkbox" checked></li>
                        <li>From Salus Security <input type="checkbox" checked></li>
                    </ul>
                </div>
            </section>

            <section class="basic">
                <h2>Subscriptions</h2>
                <div v-if="premium">
                    <h3>Basic plan</h3>
                    <h3>M 0.00 / Month</h3>
                    <button @click="unSubscribeUser()">Unsubscribe</button>
                    <hr>
                    <ul>
                        <li>Flag Incidents</li>
                        <li> - View History</li>
                        <li> - Maps, Statistics, Doorlock</li>
                    </ul>
                </div>

                <div v-if="basic">
                    <h3>Basic plan</h3>
                    <h3>Current plan</h3>
                    <h3>M 0.00 / Month</h3>
                    <hr>
                    <ul>
                        <li>Flag Incidents</li>
                        <li> - View History</li>
                        <li> - Maps, Statistics, Doorlock</li>
                    </ul>
                </div>
            </section>

            <section class="premium">
                <div v-if="premium">
                    <h3>Premium plan </h3>
                    <h3>current plan</h3>
                    <h3>M 3.99 / Month</h3>
                    <hr>
                    <ul>
                        <li>Flag Incidents</li>
                        <li> + View History</li>
                        <li> + Maps, Statistics, Doorlock</li>
                    </ul>
                </div>

                <div v-if="basic">
                    <h3>Premium plan </h3>
                    <h3>M 3.99 / Month</h3>
                    <button @click="subscribeUser()">Subscribe</button>
                    <hr>
                    <ul>
                        <li>Flag Incidents</li>
                        <li> + View History</li>
                        <li> + Maps, Statistics, Doorlock</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
</div>
</body>
</html>
